
 .btn-circle {
    width: 90pt;
    height: 90pt;
    line-height: 90pt;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }

  .btn-circle:hover {
      background-color: #a7b3b4;
  }
  
  .btn-circle i {
    position: relative;
    top: -1px;
  }
  
  .btn-circle-sm {
    width: 70pt;
    height: 70pt;
    line-height: 70pt;
    font-size: 0.9rem;
  }
  
  .btn-circle-lg {
    width: 150pt;
    height: 150pt;
    line-height: 150pt;
    font-size: 1.1rem;
  }
  
  .btn-circle-xl {
    width: 200pt;
    height: 200pt;
    line-height: 200pt;
    font-size: 1.3rem;
  }
