
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.col-3 {
    position: relative;
    float: left;
    max-width: 100%;
    width: 33.3%;
}
  
@media screen and (max-width: 800px) {
    .col-3 {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .col-3 {
        width: 100%;
    }
}

.col-2 {
    position: relative;
    float: left;
    max-width: 100%;
    width: 50%;
}

@media screen and (max-width: 400px) {
    .col-3 {
        width: 100%;
    }
}

.col-4 {
    position: relative;
    float: left;
    max-width: 100%;
    width: 25%;
}
