@import "css/Navbar.css";
@import "css/Container.css";
@import "css/BtnCircle.css";
@import "css/BtnCard.css";
@import "css/Cols.css";
/* @import "css/Rows.css"; */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #899b9b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Raleway', sans-serif;
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background: #d0d7d7;
  font-family: 'Raleway', sans-serif;
}

.border-content-left {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 16pt;
  border: lightblue 1pt solid;
  padding: 5pt;
}

.btn-circle, .btn-circle:hover {
  color: white;
}

.card {
  background: linear-gradient(to bottom, #a1acac, #a7b3b4);
}

.card-body {
  display: inline-block;
  background: linear-gradient(to bottom, #899b9b, #a7b3b4);
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}
      
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: none;
  background-image: none;
}

.carousel-control-next, 
.carousel-control-prev {
  height: 50%;
  margin-top: 20%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  color: black;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  color: black;
}

.center-content {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-top: 10pt;
  margin-bottom: 10pt;
  vertical-align: center;
}

.column {
display: inline-block;
}

.form-control {
  margin: none;
  background: linear-gradient(to right, #d0d7d7, #ececec);
}

.regCard {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
.LoginSlogan {
  text-align-last: center;
  color: #82b1b7;
  margin-top: 15px;
  margin-left: 96px;
}
.NySureLogo {
    display: block;
    margin-top: 100px;
    margin-left: 100px;
    height: 250px;
}

.strong-shadow{
  background-color: #a7b3b4;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(91, 91, 99);
}
.text-white {
  color: white;
}

.nav-link {
  color: white;
}

.estimated-spent {
  width: 100%;
  text-align: center;
  padding: 5pt;
}

.bottomPadding {
  height: 50pt;
  float: left;
  width: 100%;
}

.bg-cyan {
  background-color: #82b1b7;
}

.bg-dark {
  background: linear-gradient(to bottom, #899b9b, #a7b3b4);
}


.modal-dialog {
    background-color: #a7b3b4;
}

.modal-content {
    background-color: #a7b3b4;
}

.modal-header {
    background-color: #a7b3b4;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: 'Raleway', sans-serif;
}

.modal-body {
    background-color: #a7b3b4;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -10px;
}

.row-100 {
  width: 100%;
  display: block;
}

.faq-btn-collapse {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}


.navbar-brand {
  margin-left: 30px;
  shape-image-threshold: initial;
}

.btn-outline-info{
  margin-right: 30px;
}

.faq-btn-collapse:focus {
  color: #ffffff;
}

.faq-btn-collapse:hover:not(:focus) {
  color: #ffffff;
}

.profileIcon {
  position: absolute;
  top: 45px;
  right: 150px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  right: 105px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-40%, -40%);
}

.userContainer:hover .image {
  opacity: 0.3;
}

.userContainer:hover .middle {
  opacity: 1;
}

.text {
  background-color: #82b1b7;
  color: white;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 20px;
}

.del {
  position: relative;
  float: left;
}
a.remImage img {
  box-shadow: none;
  position: absolute;
  right: 7px;
  top: -5px;
  margin-top: 4px;
  opacity: 0;
  display: block;
  transition: all .5s ease-in-out;
}

.del:hover a.remImage img {
  opacity: 1;
  z-index: 99;
  position: absolute;
  top: 5px;
}

.del:after {
  content: '';
  width: 450px;
  height: 400px;
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  z-index: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.del:hover:after{
  opacity: 1;
}
