@import "css/Navbar.css";
@import "css/Container.css";
@import "css/BtnCircle.css";
@import "css/BtnCard.css";
@import "css/Cols.css";
/* @import "css/Rows.css"; */

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #ececec);
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #899b9b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Raleway', sans-serif;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
    background-color: #a7b3b4;
}

.strong-shadow{
background-color: #a7b3b4;
}
.logincard {
    background-color: #a7b3b4;
    border-color: #a7b3b4;
}

.card-body {
    background-color: #a7b3b4;
    margin:-5px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

.form-control {
    margin: none;
    background: linear-gradient(to right, #d0d7d7, #ececec);
}

.NySureLogo {
    display: block;
    height: 30vmin;
    margin-left: auto;
    margin-right: auto;
}

.LoginSlogan {
  text-align-last: center;
  font-size: calc(7px + 2vmin);
  color: black;
  margin-top: 20px;
}

.center-content {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-top: 10pt;
  margin-bottom: 10pt;
  vertical-align: center;
}

.border-content-left {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 16pt;
  border: lightblue 1pt solid;
  padding: 5pt;
}

.btn-circle, .btn-circle:hover {
  color: white;
}

.text-white {
  color: white;
}

.estimated-spent {
  width: 100%;
  text-align: center;
  padding: 5pt;
}

.bottomPadding {
  height: 50pt;
  float: left;
  width: 100%;
}

.bg-cyan {
  background-color: #82b1b7;
}

.bg-dark {
  background-color: #a7b3b4 !important;
}


.modal-dialog {
    background-color: #a7b3b4;
}

.modal-content {
    background-color: #a7b3b4;
}

.modal-header {
    background-color: #a7b3b4;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: 'Raleway', sans-serif;
}

.modal-body {
    background-color: #a7b3b4;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -10px;
}

.row-100 {
  width: 100%;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: none;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: gray;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: gray;
}

.faq-btn-collapse {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}

.faq-btn-collapse:focus {
  color: #ffffff;
}

.faq-btn-collapse:hover:not(:focus) {
  color: #ffffff77;
}
