body {

  min-height: 100vh;
  background: linear-gradient(to right, #d0d7d7, #ececec);

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #899b9b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
    background-color: #a7b3b4;
}

.strong-shadow{
background-color: #a7b3b4;
}
.logincard {
    background-color: #a7b3b4;
    border-color: #a7b3b4;
}

.card-body {
    background-color: #a7b3b4;
    margin:-5px;
    border-radius: 10px;
}

.form-control {
    margin: none;
    background: linear-gradient(to right, #d0d7d7, #ececec);
}

.NySureLogo {
    display: block;
    height: 30vmin;
    margin-left: auto;
    margin-right: auto;
}

.LoginSlogan {
  text-align-last: center;
  font-size: calc(7px + 2vmin);
  color: black;
  margin-top: 20px;
}

.modal-dialog {
    background-color: #a7b3b4;
}

.modal-content {
    background-color: #a7b3b4;
}

.modal-header {
    background-color: #a7b3b4;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.modal-body {
    background-color: #a7b3b4;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -10px;
}